#top-nav {
    background-color:rgb(21, 17, 78);
 }
 
 .nav-link {
     color:white;
     font-family: 'Futura', 'Futura-Bold', 'Jost', 'Trebuchet MS', sans-serif;
     font-size: 20px;
     font-weight: 800;
     font-style: italic;
     text-transform: uppercase;
     letter-spacing: 0.05em;
 
 }